[Unit]
Description=Node.js User Service

[Service]
Environment="MONGO_URL=mongodb://MONGOHOST:27017/users"
Environment="REDIS_HOST=REDISHOST"
User=robo-shop
ExecStart=/bin/node ROOT-DIR/user/server.js
Restart=always
RestartSec=10
StandardOutput=append:/var/log/robo-shop/user.log
StandardError=append:/var/log/robo-shop/user.log
SyslogIdentifier=user
[Install]
WantedBy=multi-user.target
